@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexAlign {
  display: flex;
  align-items: center;
}

@mixin flexCenterWithDirection {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin routes($direction) {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;

  a {
    gap: 1rem;
    cursor: pointer;
  }
}

@mixin button {
  background: var(--secondary-color);
  height: 40px;
  border: none;
  outline-color: transparent;
  padding: 0 2.5rem;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}

@mixin direction {
  display: flex;
  flex-direction: column;
}

@mixin input {
  height: 40px;
  border: none;
  outline-color: transparent;
  padding: 0 2.5rem;
  font-weight: bold;
  border-radius: 8px;
}
