$primary-color: #12242e;
$secondary-color: #061115;
$sm-color: rgb(0, 255, 85);
$in-color: #3d738d;
$accent-color: #91e95a;
$l-bg: rgba(255, 255, 255, 0.24);
$tx-color: #fcffff;
$lg-gap: 2rem;
$trans: 0.3s ease-in-out;
$border: 1px solid rgba(255, 255, 255, 0.24);
$radius: 5px;
