@import "./constants";

.app__forum {
  width: 80vw;
  flex: 1;
  @include flexCenter;
  flex-direction: column;
  gap: var(--gap);

  .forum__header {
    width: 100%;
    background: var(--secondary-color);
    text-align: center;
    color: var(--primary-color);
    padding: 1rem;
    font-weight: bold;
    font-size: 1.5em;
    position: sticky;
    top: 2rem;
  }

  form {
    width: 100%;
    @include flexCenter;
    gap: var(--gap);
    flex-direction: column;
    textarea {
      width: 100%;
      resize: none;
      height: 5rem;
      padding: 1rem;
      outline: none;
    }

    button {
      @include button;
    }
  }

  .chats__forum {
    @include direction;
    gap: 1rem;
    width: 100%;
    .chat__form {
      background: var(--light-color);
      padding: 1rem;
      border-radius: 8px;
    }
  }
}
