@import "./constants";
@import "./variables";

.app__messages {
  flex: 0.5;
  padding: 1rem;
  border-radius: 1rem;
  @include backdrop;

  .message__bar {
    @include routes;
    gap: 1rem;
    padding-bottom: 0.5rem;

    li {
      flex: 1;
      border-radius: 5px;
      padding: 0.5rem;
      text-transform: capitalize;
      text-align: center;
      // transition: background $trans;

      &.activeRoute {
        background: red;
      }

      /*    &:hover {
        background: green;
      } */
    }
  }

  .active__display {
    transition: all 0.5s ease;
    padding-top: 1rem;

    .participants__container {
      @include flex(column);
      height: fit-content;
      gap: 0.5rem;

      .participant {
        @include flexAlign;
        cursor: pointer;
        gap: 0.5rem;
        padding: 0.4rem;
        border-radius: 5px;

        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }

        &:hover {
          background: white;
        }
      }
    }
  }
}
