@import "./constants";

.app__oneCourse {
  width: 100%;
  display: flex;
  gap: var(--gap);

  .left__course {
    flex: 0.7;

    video {
      width: 100%;
    }
  }

  .right__course {
    flex: 0.3;
    @include direction;
    gap: var(--gap);
    .right__course-container {
      @include flexAlign;
      gap: 1rem;
      transition: var(--trans);
      cursor: pointer;
      padding: 0.2rem;
      border-radius: 8px;
      img {
        width: 50%;
        border-radius: 8px;
      }

      &:hover {
        background: var(--light-color);
      }
    }
  }
}
