@import "./constants";
@import "./variables";

.video {
  padding-top: 2.5rem;
  border-radius: 1rem;
  position: relative;

  video {
    width: 100%;
    border-radius: 1rem;
    min-height: 450px;
    @include backdrop;
  }

  .options {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    bottom: 50px;
    @include flexAlign;
    gap: 1rem;

    .option {
      @include backdrop;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      cursor: pointer;
      @include flexCenter;

      &.call {
        height: 50px;
        width: 60px;
        background: #f24629;
        border-radius: 5px;
      }
    }
  }
}
