@import "./constants";
@import "./variables";

.app__videoplayer {
  flex: 1;
  @include flex(row);
  padding: 1rem;
  gap: 1rem;

  hr {
    height: 1px;
    border: none;
    background: $l-bg;
  }

  .left__player {
    flex: 1;
  }
}
