// Montserrat Font
$montserrat: "Montserrat", sans-serif;

// Open Sans Font
$open-sans: "Open Sans", sans-serif;

// Space Grotesk Font
$space-grotesk: "Space Grotesk", sans-serif;

// Main Colors
$light-blue: #87cefa;
$light-yellow: #fffacd;
$soft-white: #f5f5f5;

// Text Colors
$text-color: #444444;
$text-secondary: #777777;

// Background Colors
$bg-color: white;
$bg-secondary: #f0f0f0;
$bg-accent: #f4f4f4;

/* LANDING PAGE HEX */
$mandy: #e7585c;
$tuna: #34343d;
$hint-of-red: #fbfafa;
$old-gold: #d4a449;
$wewak: #f29c9e;
$fountain-blue: #5ea6bc;
$santas-gray: #9b9ea6;
$pancho: #efc8a8;
$ghost: #caced4;

//default variables
$sm-gap: 1rem;
$xs-gap: 0.5rem;
$l-gap: 5rem;
$gap: 2rem;
$md-gap: 2.6rem;
$transition: 0.3s ease-in-out;
