@import "./variables";
@import "./constants";

.app__auth {
  min-height: 100vh;
  background: #f4f1ec;
  //   @include flexCenter;
  padding: $gap $l-gap + 3rem;

  .auth__container {
    @include flexDirection(column);
    gap: 3rem;

    .auth__header {
      text-align: center;

      h1 {
        font-size: $l-gap - 0.5rem;
        color: $t-green;
      }

      p {
        color: $green;
      }
    }

    .recent__container {
      @include flexDirection(column);
      gap: $xs-gap;
      width: 70%;
      align-self: center;

      .add__container {
        .nouser {
          background: $mandy;
          color: $soft-white;
          width: fit-content;
          border-radius: 10px;
          @include flexDirection(column);
          align-items: center;
          padding: $sm-gap;
          gap: $gap;
          .plus_circle {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background: $l-mandy;
            @include flexCenter;
            cursor: pointer;
            @include shadow;
            font-size: $gap;
          }
        }
      }
    }
    .or__container {
      position: relative;
      height: 1px;
      width: 41%;
      background: $green;

      p {
        position: absolute;
        height: 50px;
        width: fit-content;
        border-radius: 50%;
        @include flexCenter;
        background: $soft-white;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        padding: 0 $xs-gap;
      }
    }

    .login__form {
      background: $soft-white;
      @include shadow;
      padding: $gap;
      border-radius: 10px;
      @include flexCenter;
      flex-direction: column;
      gap: $gap + 1rem;

      .auth__form {
        @include flexDirection(column);
        gap: $sm-gap;
        width: 60%;

        .inputs {
          @include flexDirection(row);
          gap: $gap;

          .input__container {
            border: 1px solid $black;
            padding: $xs-gap + 0.2rem $sm-gap;
            position: relative;
            flex: 1;
            border-radius: 10px;
            input {
              border: none;
              outline: none;
              background: none;
              width: 100%;
            }

            svg {
              position: absolute;
              cursor: pointer;
              height: 100%;
              top: 0;
              right: 10px;
            }
          }
        }

        .actions {
          width: 100%;
          @include flexAlign;
          gap: $gap;
          font-weight: 500;

          label {
            flex: 1;
            @include flexAlign;
            gap: $xs-gap;
            cursor: pointer;
          }

          a {
            flex: 1;
            text-decoration: underline;
          }
        }

        .cta {
          @include flexDirection(column);
          gap: $sm-gap;
          width: 70%;
          align-self: center;

          button,
          a {
            border: none;
            background: $t-green;
            border-radius: 10px;
            padding: $xs-gap + 0.2rem;
            color: $soft-white;
            font-weight: bold;
            cursor: pointer;
          }

          a {
            background: $mandy;
            text-align: center;
          }
        }
      }
    }

    .continue__container {
      @include flexAlign;
      gap: $sm-gap;
      .company {
        height: 20px;
        width: 20px;
        img {
          width: 50px;
          cursor: pointer;
        }

        &.facebook {
          background: red;
          img {
            width: 50px;
          }
        }
      }
    }
  }
}
