@import "./constants";
@import "./variables";

.landing__header {
  padding: 0 10%;
  font-family: $rucco;
  height: 90px;
  background: $l-b;
  width: 100%;
  @include flexAlign;

  .header__container {
    @include flexBetween;
    width: 100%;
    .logo {
      @include flexDirection(column);
      color: white;
      font-size: 24px;
      gap: 0.2rem;
      img {
        width: 45px;
      }
    }

    .header__routes {
      @include flexAlign;
      gap: 2rem;

      li {
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: $primary-color;

        &:last-child {
          margin-left: 4rem;
        }
      }

      a.active {
        color: $secondary-color;
        cursor: pointer;
      }
    }
  }
}
