@import "./constants";
@import "./variables";

.landing__hero {
  height: calc(100vh - 90px);
  background: url("../assets/smlogo.png");
  background-size: initial;
  background-position: center;
  background-repeat: no-repeat;
  color: $primary-color;
  .hero__container {
    height: 100%;
    width: 100%;
    @include flexDirection(column);
    text-align: center;
    padding-top: 90px;

    h2 {
      font-family: Russo One;
      font-size: 40px;
      font-weight: 400;
      line-height: 48px;
      letter-spacing: 0em;
      text-align: center;
    }

    p {
      font-family: Comfortaa;
      font-size: 24px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: center;
    }

    img {
      width: 50px;
      position: absolute;
      bottom: 1rem;
      margin: 0 auto;
      right: 0;
      left: 0;
      cursor: pointer;
    }
  }

  .image__overcontainer {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;

    .spt {
      position: absolute;
      bottom: 1rem;
      left: 4rem;
    }
    .cpx {
      position: absolute;
      top: 8rem;
      right: 4rem;
    }
  }
}
